* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.navbar {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #BF7506;
  font-size: 16px;
  line-height: 150%; 
}

.nav-link.active {
  font-weight: 700;
}

.header-photo {
  width: 240px;
  height: 240px;
}

header {
  padding: 70px 0;
  display: flex;
  align-items: center;

}

.header-text {
  margin-left: 27px;
}

.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-top: 8px;
  margin-bottom: 24px;
}

.header-primary {
  color: #BF7506;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.header-links {
  display: flex;
  align-items: center;
}

.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 55px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #BF7506;
}

.cv-icon {
  margin-right: 4px;
}

.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #bf7506;
  margin-top: 0;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  max-width: 400px;
  margin-bottom: 40px;
}

.card-image {
  max-width: 100%;
}

.card-text-wrapper {
  padding: 16px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #bf7506;
  margin-top: 0;
  margin-bottom: 8px;
}

.tags {
  display: flex;
  list-style: none;
  gap: 4px;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

.tag {
  padding: 4px 8px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211b12;
  text-decoration: none;
  border: 1px solid #dd9c3c;
  border-radius: 4px;
  background: #fff;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}

.card-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 7px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  gap: 4px;
  border-bottom: 2px solid #bf7506;
}

.developer {
  padding: 80px 0 20px;
  display: flex;
  align-items: center;
} 

.developer-photo {
  width: 360px;
  height: 440px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
}

.developer-about {
  margin-left: 55px;
}

.developer-hello {
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: #211b12;
}

.developer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #bf7506;
  margin-top: 4px;
  margin-bottom: 16px;
}

.developer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}

.motto {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #dd9c3c;
  margin: 16px 0;
}

.developer-sign {
  max-width: 200px;
}

.skills {
  padding: 20px 0;
}

.skills-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #211b12;
}

.feedback {
  padding: 80px 0 60px;
  position: relative;
}

.feedback-hand {
  position: absolute;
  right: 0;
  top: 20%;
  width: 25%;

}

.input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}

.input-label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807c;
  padding: 0 8px;
  background: #fff;
  top: 0;
  left: 16px;
}

.input {
  border: 3px solid #e0dedc;
  border-radius: 4px;
  width: 100%;
  height: 56px;
}

.textarea {
  min-height: 140px;
}

.form-container {
  max-width: 435px;
  margin: auto;
}

.submit-button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border: none;
  border-bottom: 2px solid #BF7506;
  background-color: #fff;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }

  .card {
    max-width: 350px;
  }
}

@media (max-width: 790px) {
  .container {
    max-width: 576px;
  }

  .header-photo {
    max-width: 150px;
    max-height: 150px;
  }

  .header-strong {
    font-size: 36px;
  }

  .header-heading {
    font-size: 18px;
  }

  .cv-download {
    margin-left: 15px
  }

  .card {
    max-width: 45%;
  }

  .tags {
    flex-wrap: wrap;
  }

  .card-text-wrapper {
    padding: 8px 0;
  }

  .developer {
    flex-direction: column;
  }

  .developer-photo {
    width: 100%;
    height: 375px;
    margin-bottom: 30px;
  }

  .developer-about {
    margin-left: 0;
    padding-left: 20px;
  }

  .feedback-hand {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  .navbar {
    flex-direction: column;
  }

  .header {
    padding-top: 30px;
    flex-direction: column;
    text-align: center;
  }

  .header-links {
    flex-direction: column;
  }

  .cv-download {
    margin-left: 0;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .card-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .section-heading {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 90%;
  }

  .nav-list {
    flex-direction: column;
    gap: 10px;
  }
}