body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #BF7506;
  font-size: 16px;
  line-height: 150%; 
}

.nav-link.active {
  font-weight: 700;
}

.header-photo {
  width: 240px;
  height: 240px;
}

header {
  padding: 70px 0;
  display: flex;
  align-items: center;

}

.header-text {
  margin-left: 27px;
}

.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

.header-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-top: 8px;
  margin-bottom: 24px;
}

.header-primary {
  color: #BF7506;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.header-links {
  display: flex;
  align-items: center;
}

.cv-download {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  margin-left: 55px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #BF7506;
}

.cv-icon {
  margin-right: 4px;
}


